{% include 'entertainments/partials/head.html' %}

 

<body>

 

    {% include 'entertainments/partials/header.html' %}

 

    {% include 'entertainments/partials/search.html' %}

    <main class="main-content-container">

         {% block content %} {% endblock content %}

        <div class="main-content main-content-list content-container">

 

 

            {% include 'entertainments/partials/post.html' %}

 

 

        </div>

    </main>

 

 

    {% include 'entertainments/partials/footer.html' %}

   

</body>