{%load static %} 

 

  <div class="footer"> 

      <div class="footer-inner"> 

        <div class="container"> 

          <div class="row"> 

            <div class="span12"> &copy; 2023 <a href="#">ETN System - Bootstrap Responsive</a>. </div> 

            <!-- /span12 -->  

          </div> 

          <!-- /row -->  

        </div> 

        <!-- /container -->  

      </div> 

      <!-- /footer-inner -->  

  </div> 

 

    <script src="{% static 'entertainments/js/jquery-1.7.2.min.js' %}"></script> 

    <script src="{% static 'entertainments/js/bootstrap.js'%}"></script> 

   

    <script src="{% static 'entertainments/js/signin.js'%}"></script> 

   

    </body> 

   

    </html> 