<div class="entertainment entertainment-list-item"> 

    <div class="entertainment-cover"> 

        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário"> 

    </div> 

    <div class="entertainment-title-container"> 

        <h2 class="entertainment-title">Lorem ipsum dolor sit amet.</h2> 

    </div> 

 

    <div class="entertainment-author"> 

        <span class="entertainment-author-item"> 

            <i class="fas fa-user"></i> 

            Miguel de Mendonça Silva 

        </span> 

        <span class="entertainment-author-item"> 

            <i class="fas fa-calendar-alt"></i> 

            29/04/2023 às 11:21 

        </span> 

        <span class="entertainment-author-item"> 

            <a href=""> 

                <i class="fas fa-layer-group"></i> 

                <span>Video-Game</span> 

            </a> 

        </span> 

    </div> 

    <div class="entertainment-content"> 

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi. 

            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus 

            aliquam in!</p> 

    </div> 

     <div class="entertainment-meta-container"> 

        <div class="entertainment-meta entertainment-preparation"> 

            <h3 class="entertainment-meta-title"><i class="fa-solid fa-ranking-star"></i> Nota</h3> 

            <div class="entertainment-meta-text"> 

                80/100 

            </div> 

        </div> 

        <div class="entertainment-meta entertainment-servings"> 

            <h3 class="entertainment-meta-title"><i class="fa-solid fa-building"></i></i> Produtora</h3> 

            <div class="entertainment-meta-text"> 

                Nintendo 

            </div> 

        </div> 

    </div> 

        <footer class="entertainment-footer"> 

        <a class="entertainment-read-more button button-dark button-full-width" href=""> 

            <i class="fas fa-eye"></i> 

            <span>ver mais...</span> 

        </a> 

    </footer> 

</div> 